{% extends 'inicio.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row border">
            <div class="col-6 text-center">
                <kbd>GALLETAS VENDIDAS POR MES</kbd>
                <canvas id="G1"  height="400" width="600"></canvas>
            </div>
            <div class="col-6 text-center">
                <kbd>VENTAS POR MES</kbd>
                <canvas id="G2"  height="400" width="600"></canvas>
            </div>
        </div>
        <div class="row border">
            <div class="col-6 text-center">
                <kbd>TOTAL DE VENTAS POR MES</kbd>
                <canvas id="G3"  height="400" width="600"   ></canvas>
            </div>
            <div class="col-6 text-center">
                <kbd>PRODUCTO MAS VENDIDO</kbd>
                <canvas id="G4" height="400" width="600"></canvas>
            </div>
            
        </div>
    </div>

</div>
{% endblock %}

{% block jscode %}
<script>    
    const G1 = document.getElementById('G1');
    const G2 = document.getElementById('G2');
    const G3 = document.getElementById('G3');
    const G4 = document.getElementById('G4');

    const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
    const colorsBackground = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
    ];

    const colorsBorder = [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
    ];

    console.log({{ galletaVentasMes }})

    let galletaVentasMes = {{ galletaVentasMes }};
    let ventasMes = {{ ventasMes }};
    let ventasTotalesMes = {{ ventasTotalesMes }};
    let galletasTipos = {{ galletasTipos|tojson }};

    console.log(galletasTipos)

    // DASHBOARD DE GALLETAS VENDIDAS POR MES
    const dataGalletaVentasMes = {
        labels: meses,
        datasets: [{
            label: 'Galletas Vendidas',
            data: galletaVentasMes,
            backgroundColor: colorsBackground,
            borderColor: colorsBorder,
            borderWidth: 1
        }]
    };

    const configGalletaVentasMes = {
        type: 'bar',
        data: dataGalletaVentasMes,
        options: {
            scales: {
                y: {
                    beginAtZero: true, // Comenzar el eje Y en 0
                    title: {
                        display: true,
                        text: 'Número de Galletas Vendidas'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Mes'
                    }
                }
            }
        },
    };

    new Chart(G1, configGalletaVentasMes);

    // DASHBOARD DE VENTAS POR MES
    const dataVentasMes = {
        labels: meses,
        datasets: [{
            label: 'Total de Ventas',
            data: ventasMes,
            backgroundColor: colorsBackground,
            borderColor: colorsBorder,
            borderWidth: 1
        }]
    };

    const configVentasMes = {
        type: 'bar',
        data: dataVentasMes,
        options: {
            scales: {
                y: {
                    beginAtZero: true, // Comenzar el eje Y en 0
                    title: {
                        display: true,
                        text: 'Total de Ventas'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Mes'
                    }
                }
            },

        },
    };

    new Chart(G2, configVentasMes);

    //DASHBOARD DE TOTAL DE VENTAS POR MES
    const dataGalletasVendidas = {
        labels: meses,
        datasets: [{
            label: 'Ventas del Mes',
            data: ventasTotalesMes,
            backgroundColor: colorsBackground,
            borderColor: colorsBorder,
            borderWidth: 1,
            hoverOffset: 4,
            
        }],
    
    };

    const configGalletasVendidas = {
        type: 'bar',
        data: dataGalletasVendidas,
        options: {
            scales: {
                y: {
                    beginAtZero: true, // Comenzar el eje Y en 0
                    title: {
                        display: true,
                        text: 'Número de Ventas'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Mes'
                    }
                }
            },

        },

    };

    new Chart(G3, configGalletasVendidas);
    
    //DASHBOARD DE TOTAL DE VENTAS POR MES
    const dataProductoMasVendido = {
        labels: Object.keys(galletasTipos),
        datasets: [{
            label: 'Ventas',
            data: Object.values(galletasTipos),
            backgroundColor: colorsBackground,
            borderColor: colorsBorder,
            borderWidth: 1,
            hoverOffset: 4,
            
        }],
    
    };

    const configProductoMasVendido = {
        type: 'bar',
        data: dataProductoMasVendido,
        options: {
            scales: {
                y: {
                    beginAtZero: true, // Comenzar el eje Y en 0
                    title: {
                        display: true,
                        text: 'Total'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Galleta'
                    }
                }
            },

        },

    };
    
    new Chart(G4, configProductoMasVendido);

</script>
{% endblock %}