<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CooKing - {% block title %}{% endblock %}</title>

  {% include 'librerias/librerias.html' %}

  {% block styles %}

  {% endblock %}
</head>

<body>
  <div class="Menu">
    <div class="logo-container">
      <a href="{{url_for('main.menu')}}"><img src="{{ url_for('static', filename='img/logo.png')}}"
          alt="Logo de la empresa" class="company-logo" /></a>
    </div>

    {% include 'sidebar/sidebar.html' %}

    <div class="Content">
      {% block content %}
      <div style="
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            background-image: url(../static/img/cookie_17.png);
            background-size: cover;
            overflow: hidden;
          ">
        <h1 style="
              padding: 150px 200px;
              margin: 0 50px;
              background: #00000095;
              border-radius: 20px;
              font-weight: 900;
              font-size: 5rem;
              text-align: center;
              color: #ffe8bd;
            ">
          Bievenido a CooKing
        </h1>
      </div>

      <script>
        localStorage.setItem("mensaje", "{{mensaje}}");
      </script>

        <script src="{{ url_for('static', filename='js/menu.js')}}"></script>
        <script>
          Toast.fire({
            icon: "success",
            title: localStorage.getItem("mensaje"),
          });
        </script>
        {% endblock %}
      </div>
    </div>
    
    {% block bootstrap_modals %}{% endblock %}
    <script src="{{ url_for('static', filename='js/sidebar.js')}}"></script>
    
    <!-- BLOQUE PARA CODIGO -->
    {% block jscode %} {% endblock %}
    
    {% include 'alertas/alertas.html' %}
  </body>
</html>