<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sidebar.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='libs/bootstrap5/css/bootstrap.min.css')}}"
    />
    <title>CooKing - {% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='libs/bootstrap5/js/bootstrap.bundle.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='libs/fontawesome/css/all.css')}}"
    />
    <script src="{{ url_for('static', filename='libs/fontawesome/js/all.js')}}"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/cookie_1.png')}}"
    />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    {% block styles %}{% endblock %}
  </head>
  <body>
    <div class="Menu">
      <div class="logo-container">
        <a href="{{url_for('main.menu')}}"
          ><img
            src="{{ url_for('static', filename='img/logo.png')}}"
            alt="Logo de la empresa"
            class="company-logo"
        /></a>
      </div>
      <span class="HoverTip"></span>
      <div class="Sidebar">
        <ul>
          <div class="HoverBox"></div>
          {%if current_user.has_role('admin') %}

          <a href="/admin"
            ><li class="Active">
              <i class="fa-solid fa-crown"></i>
              <span class="tooltip">Administración Avanzada</span>
            </li></a
          >

          {% endif %} {%if current_user.has_role('vendedor') %}

          <a href="{{url_for('venta.punto_venta')}}"
            ><li>
              <i class="fa-solid fa-cash-register"></i>
              <span class="tooltip">Punto de venta</span>
            </li></a
          >
          <a href="{{url_for('venta.solicitud_produccion')}}"
            ><li>
              <i class="fa-solid fa-paper-plane"></i>
              <span class="tooltip">Solicitud de Producción</span>
            </li></a
          >

          <a href="{{url_for('venta.compras')}}"
            ><li>
              <i class="fa-solid fa-basket-shopping"></i>
              <span class="tooltip">Compras</span>
            </li></a
          >

          {% endif %} {% if current_user.has_role('cocinero') %}

          <a href="{{url_for('cocina.recetas')}}"
            ><li>
              <i class="fa-solid fa-book"></i>
              <span class="tooltip">Recetas</span>
            </li></a
          >

          <a href="{{url_for('cocina.cocinar')}}"
            ><li>
              <i class="fa-solid fa-fire-burner"></i>
              <span class="tooltip">Producción</span>
            </li></a
          >

          {% endif %}

          <a href="{{url_for('venta.lotes_galletas')}}"
            ><li>
              <i class="fa-solid fa-cookie-bite"></i>
              <span class="tooltip">Galletas</span>
            </li></a
          >

          <a href="{{url_for('cocina.lotes_insumos')}}"
            ><li>
              <i class="fa-solid fa-boxes-stacked"></i>

              <span class="tooltip">Lotes insumos</span>
            </li></a
          >

          <a href="{{url_for('dashboard.index')}}"
            ><li>
              <i class="fa-solid fa-chart-line"></i>
              <span class="tooltip">Dashboard</span>
            </li></a
          >
          <a href="{{url_for('main.configuracion')}}"
            ><li>
              <i class="fa-solid fa-gear"></i>
              <span class="tooltip">Configuración</span>
            </li></a
          >

          <a href="{{url_for('auth.logout')}}"
            ><li>
              <i class="fa-solid fa-right-from-bracket"></i>
              <span class="tooltip">Cerrar sesión</span>
            </li></a
          >
        </ul>
      </div>
      <div class="Content">
        {% block content %}
        <div
          style="
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            background-image: url(../static/img/cookie_17.png);
            background-size: cover;
            overflow: hidden;
          "
        >
          <h1
            style="
              padding: 150px 200px;
              margin: 0 50px;
              background: #00000095;
              border-radius: 20px;
              font-weight: 900;
              font-size: 5rem;
              text-align: center;
              color: #ffe8bd;
            "
          >
            Bievenido a CooKing
          </h1>
        </div>
        <script>
          localStorage.setItem("mensaje", "{{mensaje}}");
        </script>
        <script src="{{ url_for('static', filename='js/menu.js')}}"></script>
        {% endblock %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/sidebar.js')}}"></script>

    {% block jscode %}
  
    {% endblock %}
  </body>
</html>
