<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CooKing - Inicio sesión</title>
    <link
      rel="stylesheet"
      href="../static/libs/bootstrap5/css/bootstrap.min.css"
    />
    <link rel="icon" type="image/png" href="../static/img/cookie_1.png" />
    <link rel="stylesheet" href="../static/css/layout.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/layout.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/login.css" />
    <script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>

  <body>
    <section class="min-vh-100">
      <div class="container">
        <div class="hero-bg">
          <div class="particles-container">
            <canvas id="hero-particles"></canvas>
          </div>
        </div>
        <div class="box-form">
          <div class="left">
            <div class="overlay text-center">
              <a href="{{ url_for('main.index') }}"
                ><img src="../static/img/logo.png" class="logo" alt="Logo"
              /></a>

              <h1>Bienvenido a COOKING</h1>
              <p>Inicia sesión para empezar a crear tus recetas favoritas</p>
            </div>
          </div>

          <div class="right">
            <h5>Iniciar Sesión</h5>
            <br />
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="notification is-danger">{{ messages[0] }}</div>
            {% endif %} {% endwith %}
            <form method="POST" action="/login">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
              <div class="inputs">
                <div class="mb-3">
                  <input
                    class="input is-large"
                    type="text"
                    class="form-control"
                    id="usuario"
                    name="usuario"
                    aria-describedby="Usuario"
                    placeholder="Nombre de usuario"
                  />
                </div>
                <div class="mb-3">
                  <input
                    class="input is-large"
                    type="password"
                    class="form-control"
                    name="contrasenia"
                    id="contrasenia"
                    placeholder="Contraseña"
                  />
                </div>
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="recordarme"
                />
                <label class="form-check-label" for="recordarme"
                  >Recordarme</label
                >
              </div>
              <br />
              <div class="button-control">
                <div class="button-outline">
                  <input
                    class="button"
                    type="submit"
                    value="Ingresar"
                    id="login"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>

        <script src="../static/js/404.js"></script>
      </div>
    </section>
  </body>
</html>
