<!-- SIDEBAR  -->
<span class="HoverTip"></span>
<div class="Sidebar">
  <ul>
    <div class="HoverBox"></div>
    {%if current_user.has_role('admin') %}

    <a href="/admin">
      <li class="Active">
        <i class="fa-solid fa-crown"></i>
        <span class="tooltip">Administración</span>
      </li>
    </a>

    <a href="{{ url_for('utilidad.gestion')}}">
      <li>
        <i class="fa-solid fa-dollar-sign"></i>
        <span class="tooltip">Utilidades</span>
      </li>
    </a>

    {% endif %} {%if current_user.has_role('vendedor') or
    current_user.has_role('admin') %}

    <a href="{{url_for('venta.punto_venta')}}">
      <li>
        <i class="fa-solid fa-cash-register"></i>
        <span class="tooltip">Punto de venta</span>
      </li>
    </a>
    <a href="{{url_for('venta.solicitud_produccion')}}">
      <li>
        <i class="fa-solid fa-paper-plane"></i>
        <span class="tooltip">Solicitud de Producción</span>
      </li>
    </a>

    <a href="{{url_for('venta.compras_ver')}}">
      <li>
        <i class="fa-solid fa-shopping-cart"></i>
        <span class="tooltip">Compras de insumos</span>
      </li>
    </a>

    <a href="{{url_for('venta.lotes_galletas')}}">
      <li>
        <i class="fa-solid fa-cookie-bite"></i>
        <span class="tooltip">Lotes Galletas</span>
      </li></a
    >

    {% endif %} {% if current_user.has_role('cocinero') or
    current_user.has_role('admin') %}

    <a href="{{url_for('cocina.recetas')}}">
      <li>
        <i class="fa-solid fa-book"></i>
        <span class="tooltip">Recetas</span>
      </li>
    </a>

    <a href="{{url_for('cocina.cocinar')}}">
      <li>
        <i class="fa-solid fa-fire-burner"></i>
        <span class="tooltip">Producción</span>
      </li>
    </a>

    <a href="{{url_for('cocina.lotes_insumos')}}">
      <li>
        <i class="fa-solid fa-boxes-stacked"></i>

        <span class="tooltip">Lotes insumos</span>
      </li>
    </a>

    {% endif %}

    <a href="{{url_for('dashboard.index')}}">
      <li>
        <i class="fa-solid fa-chart-line"></i>
        <span class="tooltip">DASHBOARD</span>
      </li>
    </a>

    <a href="{{url_for('main.configuracion')}}">
      <li>
        <i class="fa-solid fa-gear"></i>
        <span class="tooltip">CONFIGURACION</span>
      </li>
    </a>

    <a href="{{url_for('auth.logout')}}">
      <li>
        <i class="fa-solid fa-right-from-bracket"></i>
        <span class="tooltip">CERRAR SESIÓN</span>
      </li>
    </a>
  </ul>
</div>
