{% extends 'inicio.html' %} {% block title %}Punto de venta{% endblock %} {%
block styles %} {% endblock %} {%from "_macros.html" import render_field,
render_field_nolabel %} {% block content %}

<div
  style="
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  "
>
  <div style="width: 100%; height: fit-content; text-align: center">
    <h1>Punto de venta</h1>
  </div>
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <div class="alert alert-success" style="width: 90%; margin: 0 5%">
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}

  <div class="row" style="flex-grow: 1; width: 100%">
    <div
      class="col-md-6"
      style="
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
      "
    >
      <form action=" {{ url_for('venta.punto_venta_buscar') }} " method="POST">
        <div
          class="d-flex justify-content-between"
          style="width: 100%; margin: 10px"
        >
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
          <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
              {{render_field_nolabel(form_busqueda.buscar, class="form-control",
              style="flex-grow: 1; margin-right: 10px")}}
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
      </form>

      <div
        class="container-fluid"
        style="
          min-height: 300;
          height: calc(100vh - 166px);
          width: 100%;
          overflow: auto;
        "
      >
        <div class="row">
          <!-- Tarjeta 1 -->
          {% for galleta in galletas %}
          <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4">
            <div
              class="card"
              style="position: relative; overflow: hidden; margin-bottom: 10px"
            >
              <div class="card-body">
                <div
                  class="d-flex"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 6px;
                    width: 100%;
                    background: #e8a935a7;
                    color: rgb(255, 255, 255);
                  "
                >
                  <h5 style="color: #ffffff; margin-right: 10px">
                    {{galleta.nombre}}
                  </h5>
                  <p>Stock: {{galleta.stock}}</p>
                </div>
                <img
                  src="{{ url_for('static', filename='img/cookies/' + galleta.imagen) }}"
                  class="card-img-top"
                  alt="Imagen de galleta"
                  style="
                    object-fit: cover;
                    margin-bottom: 10px;
                    max-height: 200px;
                    width: 100%;
                  "
                />
                {% if galleta.stock > 0 %}
                <form
                  action="{{ url_for('venta.punto_venta_agregar') }}"
                  method="POST"
                >
                  <input
                    type="hidden"
                    id="id"
                    name="id"
                    value="{{galleta.id}}"
                  />
                  <input
                    type="hidden"
                    name="csrf_token"
                    value="{{csrf_token()}}"
                  />
                  <p
                    id="receta-peso-{{galleta.id}}"
                    style="
                      color: rgb(95, 95, 95);
                      width: 100%;
                      text-align: center;
                    "
                  >
                    0 Kg
                  </p>
                  <div class="d-flex">
                    <div class="row control-group">
                      <div
                        class="form-group col-xs-12 float-label-form-group controls"
                      >
                        {{ render_field_nolabel(form.cantidad,
                        class="form-control", id="cantidad-" ~ galleta.id,
                        oninput="peso_Calcular(" ~ galleta.id ~ ", " ~
                        galleta.peso_estimado ~ ", " ~ galleta.stock ~ ")") }}
                      </div>
                    </div>

                    <button
                      type="submit"
                      title="Add to cart"
                      style="border: none; background: none"
                    >
                      <i
                        class="fa-solid fa-square-plus"
                        style="font-size: 35px"
                      ></i>
                    </button>
                  </div>
                  <p
                    style="color: red"
                    id="advertencia-peso-{{galleta.id}}"
                  ></p>
                </form>
                <script>
                  function peso_Calcular(id, peso, stock) {
                    var advertencia = document.getElementById(
                      "advertencia-peso-" + id
                    );
                    var input = document.getElementById(`cantidad-${id}`);
                    var kilos = document.getElementById("receta-peso-" + id);
                    var cantidad = input.value;
                    var peso_total = (cantidad * peso).toFixed(3);
                    if (cantidad > stock) {
                      advertencia.innerHTML =
                        "La cantidad no puede exceder el stock";
                      input.value = stock;
                      kilos.innerHTML = (peso * stock).toFixed(3) + " Kg";
                    } else {
                      advertencia.innerHTML = "";
                      kilos.innerHTML = peso_total + " Kg";
                    }
                  }
                </script>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- Puedes agregar más tarjetas siguiendo el mismo patrón -->
        </div>
      </div>
    </div>
    <div
      class="col-md-6"
      style="
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
      "
    >
      <div
        style="
          min-height: 300;
          height: calc(100vh - 166px);
          width: 100%;
          overflow: auto;
          border: solid 2px;
          border-radius: 10px;
        "
      >
        <table class="table table-dark table-hover table-striped-columns">
          <thead>
            <tr>
              <th scope="col">Galleta</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Unidad</th>
              <th scope="col">Subtotal</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for producto in carrito %}
            <tr>
              <td scope="row">{{ producto.nombre }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.precio_unidad }}</td>
              <td>{{ producto.subtotal }}</td>
              <td>
                <form
                  action="{{ url_for(venta.punto_venta_eliminar, id=producto.id) }}"
                  method="POST"
                  id="deleteProductForm"
                >
                  <input type="hidden" name="id" value="{{ producto.id }}" />
                  <input
                    type="hidden"
                    name="csrf_token"
                    value="{{csrf_token()}}"
                  />
                  <button
                    onclick="event.preventDefault(); confirmDelete();"
                    title="Delete record"
                    style="border: none; background: none"
                  >
                    <span class="fa-solid fa-trash"></span>
                  </button>
                </form>
                <script>
                  function confirmDelete() {
                    Swal.fire({
                      title: "¿Confirmar eliminación?",
                      icon: "warning",
                      showCancelButton: true,
                      confirmButtonColor: "#3085d6",
                      cancelButtonColor: "#d33",
                      confirmButtonText: "Eliminar",
                    }).then((result) => {
                      if (result.isConfirmed) {
                        document.getElementById("deleteProductForm").submit();
                      }
                    });
                  }
                </script>
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <form
          action=" {{ url_for('venta.punto_venta_cancelar') }}"
          method="POST"
        >
          <button type="submit" class="btn btn-danger" style="margin: 10px">
            Borrar todo
          </button>
        </form>
        <form
          action=" {{ url_for('venta.punto_venta_confirmar') }}"
          method="POST"
        >
          <button type="submit" class="btn btn-success" style="margin: 10px">
            Confirmar compra
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
