{% extends 'inicio.html' %} 
{% block title %}Punto de venta{% endblock %} 
{% block styles %} {% endblock %} 
{%from "_macros.html" import render_field,render_field_nolabel %} 
{% block content %}

<script type="text/javascript" src="../../../static/js/jsPDF.js"></script>
<script type="text/javascript" src="../../../static/js/autotable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.3/html2canvas.min.js"></script>

<div
  style="
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  "
>
  <div style="width: 100%; height: fit-content" style="position: relative">
    <h1 style="width: 50%" class="text-center">Punto de venta</h1>
    <div
      style="
        border-radius: 10px;
        background-color: #e6b252;
        display: flex;
        justify-content: center;
        width: 50%;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 0px;
        padding: 5px 10px;
        color: #ffffff;
      "
    >
      <h5 style="margin: auto">
        Caja: ${{ efectivo_caja|default(0)|round(2) }}
      </h5>
      <div><i class="fa-solid fa-outdent"></i></div>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %} 
  {% if messages %} 
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}" style="width: 90%">{{ message }}</div>
  {% endfor %} 
  {% endif %} 
  {% endwith %}

  <div class="row" style="flex-grow: 1; width: 100%">
    <div
      class="col-md-6"
      style="
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
      "
    >
      <form action=" {{ url_for('venta.punto_venta_buscar') }} " method="POST">
        <div
          class="d-flex justify-content-between"
          style="width: 100%; margin: 10px"
        >
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
          <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
              {{render_field_nolabel(form_busqueda.buscar, class="form-control",
              style="flex-grow: 1; margin-right: 10px")}}
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
      </form>

      <div
        class="container-fluid"
        style="
          min-height: 300;
          height: calc(100vh - 166px);
          width: 100%;
          overflow: auto;
        "
      >
        <div class="row">
          <!-- Tarjeta 1 -->
          {% for galleta in galletas %}
          <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4">
            <div
              class="card"
              style="position: relative; overflow: hidden; margin-bottom: 10px"
            >
              <div class="card-body">
                <div
                  class="d-flex"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 6px;
                    width: 100%;
                    background: #e8a935a7;
                    color: rgb(255, 255, 255);
                  "
                >
                  <h5 style="color: #ffffff; margin-right: 10px">
                    {{galleta.nombre}}
                  </h5>
                  <p>Stock: {{galleta.stock}}</p>
                </div>
                <img
                  src="{{ url_for('static', filename='img/cookies/' + galleta.imagen) }}"
                  class="card-img-top"
                  alt="Imagen de galleta"
                  style="
                    object-fit: cover;
                    margin-bottom: 10px;
                    max-height: 200px;
                    width: 100%;
                  "
                />
                {% if galleta.stock > 0 %}
                <form
                  action="{{ url_for('venta.punto_venta_agregar') }}"
                  method="POST"
                >
                  <input
                    type="hidden"
                    id="id"
                    name="id"
                    value="{{galleta.id}}"
                  />
                  <input
                    type="hidden"
                    name="csrf_token"
                    value="{{csrf_token()}}"
                  />
                  <p
                    id="receta-peso-{{galleta.id}}"
                    style="
                      color: rgb(95, 95, 95);
                      width: 100%;
                      text-align: center;
                    "
                  >
                    0 Kg
                  </p>
                  <div class="d-flex">
                    <div class="row control-group">
                      <div
                        class="form-group col-xs-12 float-label-form-group controls"
                      >
                        {{ render_field_nolabel(form.cantidad,
                        class="form-control", id="cantidad-" ~ galleta.id,
                        oninput="peso_Calcular(" ~ galleta.id ~ ", " ~
                        galleta.peso_estimado ~ ", " ~ galleta.stock ~ ")") }}
                      </div>
                    </div>

                    <button
                      type="submit"
                      title="Add to cart"
                      style="border: none; background: none"
                    >
                      <i
                        class="fa-solid fa-square-plus"
                        style="font-size: 35px"
                      ></i>
                    </button>
                  </div>
                  <p
                    style="color: red"
                    id="advertencia-peso-{{galleta.id}}"
                  ></p>
                </form>
                
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- Puedes agregar más tarjetas siguiendo el mismo patrón -->
        </div>
      </div>
    </div>
    <div
      class="col-md-6"
      style="
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="d-flex justify-content-around" style="width: 100%">
        <form
          id="form-devolucion"
          action=" {{ url_for('venta.punto_venta_devolucion') }} "
          method="POST"
          style="width: 100%"
        >
          <div
            class="d-flex justify-content-between"
            style="width: 100%; margin: 10px"
          >
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
            <div
              class="row control-group"
              style="flex-grow: 1; margin-right: 10px"
            >
              <div class="form-group col-xs-12 float-label-form-group controls">
                {{render_field_nolabel(form_devolucion.cantidad,
                class="form-control", style="flex-grow: 1; margin-right:
                10px")}}
              </div>
            </div>

            <button type="submit" id="btn-devolucion" class="btn btn-primary">
              Generar devolución
            </button>
          </div>
        </form>
        
      </div>
      <div
        style="
          min-height: 300;
          height: calc(100vh - 223px);
          width: 100%;
          overflow: auto;
          border: solid 2px;
          border-radius: 4px;
        "
      >
        <table
          class="table table-hover table-striped-columns table-bordered"
          id="tabla_venta"
        >
          <thead style="color: white; background-color: black">
            <tr style="color: white; background-color: black">
              <th style="color: white; background-color: black" scope="col">
                Galleta
              </th>
              <th style="color: white; background-color: black" scope="col">
                Cantidad
              </th>
              <th style="color: white; background-color: black" scope="col">
                Precio Unidad
              </th>
              <th style="color: white; background-color: black" scope="col">
                Subtotal
              </th>
              <th
                style="color: white; background-color: black"
                scope="col"
              ></th>
            </tr>
          </thead>
          <tbody>
            {% for producto in carrito %}
            <tr>
              <td scope="row">{{ producto.nombre }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>$ {{ producto.precio_unidad | round(2) }}</td>
              <td>$ {{ producto.subtotal | round(2) }}</td>
              <td>
                <form
                  action="{{ url_for('venta.punto_venta_eliminar', id=producto.idCarrito) }}"
                  method="POST"
                  id="deleteProductForm-{{ producto.idCarrito }}"
                >
                  <input
                    type="hidden"
                    name="id"
                    value="{{ producto.idCarrito }}"
                  />
                  <input
                    type="hidden"
                    name="csrf_token"
                    value="{{csrf_token()}}"
                  />
                  <button
                    onclick="event.preventDefault(); confirmDelete({{ producto.idCarrito }});"
                    title="Delete record"
                    style="border: none; background: none"
                  >
                    <span class="fa-solid fa-trash"></span>
                  </button>
                </form>
                
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-around" style="width: 100%">
        <form
          id="form-confirmar"
          action=" {{ url_for('venta.punto_venta_confirmar') }}"
          method="POST"
        >
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
          <button
            type="submit"
            id="btn-confirmar"
            class="btn btn-success"
            style="margin: 10px"
          >
            Confirmar compra
          </button>
        </form>
        
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          Total: $ {{ total |default(0)| round(2) }}
          <p id="total" style="display: none">
            {{ total |default(0)| round(2) }}
          </p>
        </div>
        <form
          id="form-borrar-todo"
          action=" {{ url_for('venta.punto_venta_cancelar') }}"
          method="POST"
        >
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
          <button
            type="submit"
            id="btn-borrar-todo"
            class="btn btn-danger"
            style="margin: 10px"
          >
            Borrar todo
          </button>
        </form>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jscode %}
<script>
      function peso_Calcular(id, peso, stock) {
        var advertencia = document.getElementById(
          "advertencia-peso-" + id
        );
        var input = document.getElementById(`cantidad-${id}`);
        var kilos = document.getElementById("receta-peso-" + id);
        var cantidad = input.value;
        var peso_total = (cantidad * peso).toFixed(3);
        if (cantidad > stock) {
          advertencia.innerHTML =
            "La cantidad no puede exceder el stock";
          input.value = stock;
          kilos.innerHTML = (peso * stock).toFixed(3) + " Kg";
        } else {
          advertencia.innerHTML = "";
          kilos.innerHTML = peso_total + " Kg";
        }
      }
</script>

<script>
          document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("form-devolucion"); // Asegúrate de seleccionar el formulario correcto

            form.addEventListener("submit", function (event) {
              event.preventDefault(); // Previene el envío del formulario por defecto

              Swal.fire({
                title: "Confirmar devolución",
                showCancelButton: true,
                confirmButtonText: "Si",
                cancelButtonText: "Cancelar",
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                  form.submit();
                } else if (result.isDenied) {
                  Swal.fire("Se canceló la venta", "", "info");
                }
              });
            });
          });
        </script>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("form-confirmar"); // Asegúrate de seleccionar el formulario correcto

            form.addEventListener("submit", function (event) {
              event.preventDefault(); // Previene el envío del formulario por defecto

              Swal.fire({
                title: "Confirmar venta",
                showCancelButton: true,
                confirmButtonText: "Si",
                cancelButtonText: "Cancelar",
                footer:
                  '<a href="#" id="btn-ticket" onClick="generarPDF()">Ticket</a>',
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                  form.submit();
                } else if (result.isDenied) {
                  Swal.fire("Se canceló la venta", "", "info");
                }
              });
            });
          });
          function generarPDF() {
            // Crear una nueva instancia de jsPDF
            customFormat = [7, 17.7];

            const doc = new jsPDF({
              unit: "cm",
              format: customFormat,
            });

            // Función para convertir la imagen a base64
            function convertImageToBase64(url, callback) {
              const img = new Image();
              img.crossOrigin = "Anonymous";
              img.onload = function () {
                const canvas = document.createElement("canvas");
                const ctx = canvas.getContext("2d");
                canvas.height = this.naturalHeight;
                canvas.width = this.naturalWidth;
                ctx.drawImage(this, 0, 0);
                const dataURL = canvas.toDataURL("image/png");
                callback(dataURL);
              };
              img.src = url;
            }

            // Obtener la imagen y convertirla a base64
            const imgUrl = "{{ url_for('static', filename='img/logo.png') }}";
            convertImageToBase64(imgUrl, function (base64Img) {
              // Agregar la imagen de la empresa
              doc.addImage(base64Img, "PNG", 2.5, 0.2, 2, 2); // Ajusta las coordenadas y el tamaño según sea necesario

              doc.setFontSize(8);

              // Agregar la fecha de hoy
              const fecha = new Date();
              const dia = fecha.getDate();
              const mes = fecha.getMonth() + 1; // Los meses en JavaScript empiezan en 0
              const año = fecha.getFullYear();
              doc.text(`Fecha: ${dia}/${mes}/${año}`, 4.3, 2.7);

              // Obtener los datos de la tabla
              const tablaVenta = document.getElementById("tabla_venta");
              const filas = Array.from(tablaVenta.rows).map((fila) =>
                Array.from(fila.cells).map((celda) => celda.innerText)
              );
              doc.setFontSize(6);
              // Ajustar el texto de la primera columna para que salte de línea cada 7 caracteres
              filas.forEach((fila) => {
                fila[0] = fila[0].replace(/(.{10})/g, "$1\n");
              });

              // Agregar la tabla al PDF
              let y = 4; // Posición inicial en el eje Y para la tabla
              filas.forEach((fila) => {
                fila.forEach((texto, index) => {
                  doc.text(texto, 0.3 + index * 1.8, y); // Ajusta el espaciado entre columnas según sea necesario
                });
                y += 0.8; // Ajusta el espaciado entre filas según sea necesario

                if (y > 17) {
                  doc.addPage([7, 17.7]); // Añade una nueva página con el mismo formato
                  y = 0.5; // Reinicia la posición Y para la nueva página
                }
              });
              doc.setFontSize(8);
              // Agregar el total
              const total = document.getElementById("total").innerText;
              doc.text(`Total: $${total}`, 4.7, y + 0.8);

              // Guardar el PDF
              // Obtiene el PDF como un Blob
              const pdfBlob = doc.output("blob");

              // Crea un objeto URL a partir del Blob
              const pdfURL = URL.createObjectURL(pdfBlob);

              // Abre el PDF en una nueva ventana
              window.open(pdfURL, "_blank");
            });
          }
        </script>

        <script>
                  function confirmDelete(id) {
                    Swal.fire({
                      title: "¿Confirmar eliminación?",
                      icon: "warning",
                      showCancelButton: true,
                      confirmButtonColor: "#3085d6",
                      cancelButtonColor: "#d33",
                      confirmButtonText: "Eliminar",
                      cancelButtonText: "Cancelar",
                    }).then((result) => {
                      if (result.isConfirmed) {
                        document
                          .getElementById("deleteProductForm-" + id)
                          .submit();
                      }
                    });
                  }
                </script>

                <script>
          document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("form-borrar-todo"); // Asegúrate de seleccionar el formulario correcto

            form.addEventListener("submit", function (event) {
              event.preventDefault(); // Previene el envío del formulario por defecto

              Swal.fire({
                title: "¿Estás seguro de borrar los datos de la venta?",
                showCancelButton: true,
                confirmButtonText: "Si",
                cancelButtonText: "Cancelar",
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                  form.submit();
                } else if (result.isDenied) {
                  Swal.fire("Se canceló el envío", "", "info");
                }
              });
            });
          });
        </script>
{% endblock %}
