{% extends 'inicio.html' %}

{% block title %}Solicitudes Producción{% endblock%}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cocina.scss.css') }}" />
{% endblock %}

{% block content %}
<h1 class="titulo-cocina">Solicitudes producción</h1>
<div class="contenedor-solicitudes" id="contenedor">
  {% for solicitudProduccion in solicitudesProduccion %}
  <div class="order-card">
    <h2 class="title">{{ solicitudProduccion.receta.nombre }}</h2>
    <div class="centrar-contenido">
      <img src="{{ url_for('static', filename='img/cookies/' ~ solicitudProduccion.receta.imagen) }}" />
    </div>
    <div class="c-body">
      <div class="top">
        <ul class="progress-line">
          {% if solicitudProduccion.estatus >= 1 and solicitudProduccion.estatus != 5 and solicitudProduccion.estatus !=
          6%}
          <li class="green">
            {% elif solicitudProduccion.estatus == 5 or solicitudProduccion.estatus == 6 %}
          <li class="red">
            {% else %}
          </li>

          <li>
            {% endif %}
            {% if solicitudProduccion.estatus >= 1 and solicitudProduccion.estatus != 5 and solicitudProduccion.estatus
            != 6%}
            <span>Solicitud realizada</span>
            <div class="icon">
              <i class="fa-solid fa-check"></i>
              {% elif solicitudProduccion.estatus == 5 %}
              <span>Solicitud rechazada</span>
              <div class="icon">
                <i class="fa-solid fa-xmark"></i>
                {% elif solicitudProduccion.estatus == 6 %}
                <span>Solicitud pospuesta</span>
                <div class="icon">
                  <i class="fa-solid fa-xmark"></i>
                  {% endif %}
                </div>
          </li>

          {% if solicitudProduccion.estatus >= 2 and solicitudProduccion.estatus != 5 and solicitudProduccion.estatus !=
          6%}
          <li class="green">
            {% else %}
          </li>

          <li>
            {% endif %}
            <span>En preparación</span>
            <div class="icon">
              <i class="fa-solid fa-fire-burner"></i>
            </div>
          </li>

          {% if solicitudProduccion.estatus >= 3 and solicitudProduccion.estatus != 5 and solicitudProduccion.estatus !=
          6%}
          <li class="green">{% else %}</li>

          <li>
            {% endif %}
            <span>Listo para entrega</span>
            <div class="icon">
              <i class="fa-solid fa-share"></i>
            </div>
          </li>

          {% if solicitudProduccion.estatus >= 4 and solicitudProduccion.estatus != 5 and solicitudProduccion.estatus
          !=6%}
          <li class="green">{% else %}</li>

          <li>
            {% endif %}
            <span>Producción entregada</span>
            <div class="icon">
              <i class="fa-solid fa-circle-check"></i>
            </div>
          </li>
        </ul>

        <div class="contenedor-usuarios-detalles">
          <div class="c-media b-border contenedor-detalles">
            <div class="icono">
              <i class="fa-solid fa-circle-user"></i>
            </div>
            <div class="details">
              <div class="titulo-detalle">Solicitud</div>
              <div class="contenido-detalle">
                {{ solicitudProduccion.usuarioSolicitud.nombre }}
              </div>
            </div>
          </div>

          <div class="c-media b-border contenedor-detalles">
            <div class="icono">
              <i class="fa-solid fa-kitchen-set"></i>
            </div>
            <div class="details">
              <div class="titulo-detalle">Cocinero</div>
              <div class="contenido-detalle">
                {% if solicitudProduccion.usuarioProduccion is not none %}
                {{ solicitudProduccion.usuarioProduccion.nombre }}
                {% else %} No asignado {% endif %}
              </div>
            </div>
          </div>

          <div class="c-media b-border contenedor-detalles">
            <div class="icono">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <div class="details">
              <div class="titulo-detalle">Fecha</div>
              <div class="contenido-detalle">
                {{ solicitudProduccion.fecha_solicitud.strftime('%d de %B del %Y') }}
              </div>
            </div>
          </div>

          <div class="c-media b-border contenedor-detalles">
            <div class="icono">
              <i class="fa-regular fa-clock"></i>
            </div>
            <div class="details">
              <div class="titulo-detalle">Hora</div>
              <div class="contenido-detalle">
                {{ solicitudProduccion.fecha_solicitud.strftime('%H:%M:%S') }}
              </div>
            </div>
          </div>

          <div class="c-media b-border contenedor-detalles">
            <div class="icono">
              <i class="fa-solid fa-hashtag"></i>
            </div>
            <div class="details">
              <div class="titulo-detalle">Tandas</div>
              <div class="contenido-detalle">
                {{ solicitudProduccion.tandas }}
              </div>
            </div>
          </div>

          {% if solicitudProduccion.estatus == 5 %}
          <div class="c-media b-border contenedor-detalles">
            <div class="icono">
              <i class="fa-regular fa-comment"></i>
            </div>
            <div class="details">
              <div class="titulo-detalle">Mensaje rechazo</div>
              <div class="contenido-detalle">
                {{ solicitudProduccion.mensaje }}
              </div>
            </div>
          </div>
          {% endif %}

          {% if solicitudProduccion.estatus == 6 %}
          <div class="c-media b-border contenedor-detalles">
            <div class="icono">
              <i class="fa-regular fa-comment"></i>
            </div>
            <div class="details">
              <div class="titulo-detalle">Mensaje pospuesto</div>
              <div class="contenido-detalle">
                {{ solicitudProduccion.mensaje }}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="botones-solicitud">
      {% if solicitudProduccion.estatus == 1 or solicitudProduccion.estatus == 6%}
      <form action="{{ url_for('cocina.aceptarSolicitud', idSolicitud = solicitudProduccion.id) }}"
        id="formAceptarSolicitud{{solicitudProduccion.id}}">
        <button type="button" class="boton btn-aceptar" onclick="aceptarSolicitud('{{ solicitudProduccion.id }}')">
          Aceptar
        </button>
      </form>
      {% endif %}

      {% if solicitudProduccion.estatus == 2 %}
      <form action="{{ url_for('cocina.finalizarProduccion', idSolicitud = solicitudProduccion.id) }}"
        id="formFinalizarSolicitud{{solicitudProduccion.id}}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <input type="hidden" name="mensaje" id="cantidadMerma{{solicitudProduccion.id}}" />
        <button type="button" class="boton btn-aceptar" onclick="finalizarSolicitud('{{ solicitudProduccion.id }}')">
          Finalizar producción
        </button>
      </form>
      {% endif %}

      {% if (solicitudProduccion.estatus == 2 and (current_datetime -
      solicitudProduccion.fecha_solicitud).total_seconds() / 60 <= 10) %} <form
        action="{{ url_for('cocina.rechazarSolicitud', idSolicitud = solicitudProduccion.id) }}"
        id="formRechazarSolicitud{{solicitudProduccion.id}}">
        <button type="button" class="boton btn-cancelar" onclick="rechazarSolicitud('{{ solicitudProduccion.id }}')">
          Regresar status
        </button>
        </form>
        {% endif %}


        {% if solicitudProduccion.estatus == 1 %}
        <form action="{{ url_for('cocina.posponerSolicitud', idSolicitud = solicitudProduccion.id) }}"
          id="formPosponerSolicitud{{solicitudProduccion.id}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
          <input type="hidden" name="mensaje" id="mensajePosponer{{solicitudProduccion.id}}" />
          <button type="button" class="boton btn-posponer" onclick="posponerSolicitud('{{ solicitudProduccion.id }}')">
            Posponer
          </button>
        </form>
        {% endif %}

        {% if solicitudProduccion.estatus == 1 %}
        <form action="{{ url_for('cocina.rechazarSolicitud', idSolicitud = solicitudProduccion.id) }}"
          id="formRechazarSolicitud{{solicitudProduccion.id}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
          <input type="hidden" name="mensaje" id="mensajeRechazo{{solicitudProduccion.id}}" />
          <button type="button" class="boton btn-cancelar" onclick="rechazarSolicitud('{{ solicitudProduccion.id }}')">
            Rechazar
          </button>
        </form>
        {% endif %}

    </div>
  </div>
  {% else %}
  <div class="solicitudes-vacias">
    <h2>No se encontraron solicitudes de producción.</h2>
  </div>
  {% endfor %}
</div>

<script>
  $(document).ready(function () {
    $("#contenedor").sortable({
      start: function (event, div) {
        div.item.data("start-index", div.item.index());
      },
      update: function (event, div) {
        var startIndex = div.item.data("start-index");
        var endIndex = div.item.index();
        console.log(
          "El elemento se movió de la posición " +
          (startIndex + 1) +
          " a la posición " +
          (endIndex + 1)
        );
      },
    });
    $("#contenedor").disableSelection();
  });
</script>

<script>
  function aceptarSolicitud(id) {
    Swal.fire({
      title: "¿Estás seguro de aceptar la solicitud?",
      showCancelButton: true,
      confirmButtonText: "Sí",
      cancelButtonText: "Cancelar",
      icon: "question",
    }).then((result) => {
      let formAceptarSolicitud = document.getElementById(
        "formAceptarSolicitud" + id
      );
      formAceptarSolicitud.submit();
    });
  }

  function finalizarSolicitud(id) {
    Swal.fire({
      title: "¿Estás seguro de finalizar la producción?",
      showCancelButton: true,
      confirmButtonText: "Sí",
      cancelButtonText: "Cancelar",
      icon: "question",
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Merma producción',
          input: 'number',
          inputLabel: 'Indica la cantidad de merma en galletas:',
          inputPlaceholder: 'Cantidad merma galletas...',
          showCancelButton: true,
          confirmButtonText: 'Enviar',
          cancelButtonText: 'Cancelar',
          showLoaderOnConfirm: true,
          preConfirm: (cantidadMerma) => {
            document.getElementById('cantidadMerma' + id).value = cantidadMerma;

            let formFinalizarSolicitud = document.getElementById("formFinalizarSolicitud" + id);
            formFinalizarSolicitud.submit();
          },
          allowOutsideClick: () => !Swal.isLoading()
        });
      }
    });
  }

  function posponerSolicitud(id) {
    Swal.fire({
      title: "¿Estás seguro de posponer la solicitud?",
      showCancelButton: true,
      confirmButtonText: "Sí",
      cancelButtonText: "Cancelar",
      icon: "question",
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Motivo para posponer',
          input: 'textarea',
          inputLabel: 'Por favor, proporciona el motivo para posponer:',
          inputPlaceholder: 'Escribe aquí...',
          showCancelButton: true,
          confirmButtonText: 'Enviar',
          cancelButtonText: 'Cancelar',
          showLoaderOnConfirm: true,
          preConfirm: (motivo) => {
            document.getElementById('mensajePosponer' + id).value = motivo;

            let formRechazarSolicitud = document.getElementById("formPosponerSolicitud" + id);
            formRechazarSolicitud.submit();
          },
          allowOutsideClick: () => !Swal.isLoading()
        });
      }
    });
  }

  function rechazarSolicitud(id) {
    Swal.fire({
      title: "¿Estás seguro de rechazar la solicitud?",
      showCancelButton: true,
      confirmButtonText: "Sí",
      cancelButtonText: "Cancelar",
      icon: "question",
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Motivo de rechazo',
          input: 'textarea',
          inputLabel: 'Por favor, proporciona el motivo de rechazo:',
          inputPlaceholder: 'Escribe aquí...',
          showCancelButton: true,
          confirmButtonText: 'Enviar',
          cancelButtonText: 'Cancelar',
          showLoaderOnConfirm: true,
          preConfirm: (motivo) => {
            document.getElementById('mensajeRechazo' + id).value = motivo;

            let formRechazarSolicitud = document.getElementById("formRechazarSolicitud" + id);
            formRechazarSolicitud.submit();
          },
          allowOutsideClick: () => !Swal.isLoading()
        });
      }
    });
  }


</script>
{% endblock %}