{% extends 'layout/layout.html' %}

{% block title %}Solicitudes Producción{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cocina.scss.css') }}">
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="grid">
            <article class="card">
                <img class="card__image" src="https://i.ibb.co/RT0bjJq/food1.png" />
                <div class="card__data">
                    <div class="card__info">
                        <h2>Galleta 1</h2>
                        <p>Descripcion de la comida, con ingredientes</p>
                    </div>
                    <h3 class="card__price">$7.50</h3>
                    <button class="card__add">+</button>
                </div>
            </article>
            <article class="card">
                <img class="card__image" src="https://i.ibb.co/JpwBtYk/food2.png" />
                <div class="card__data">
                    <div class="card__info">
                        <h2>Nombre Comida</h2>
                        <p>Descripcion de la comida, con ingredientes</p>
                    </div>
                    <h3 class="card__price">$7.50</h3>
                    <button class="card__add">+</button>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}