*{
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, rgb(255, 232, 187) 23%, rgb(61, 48, 30));
  background-size: cover; /* Asegura que el fondo cubra todo sin repetirse */
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: row;
}


.error {
  font-family: "Righteous", cursive;
  color: #391611;
}

.cookie img {
  width: 30rem;
  margin-right: 40px;
}

@media (max-width: 800px) {
  .error-container {
    height: 100vh;
    flex-direction: column;
  }
  .cookie img {
    width: 30vw;
    margin: 0;
  }
}

.error__title {
  font-size: 10rem;
  position: relative;
}

.error__subtitle {
  font-size: 2rem;
}

.error__description {
  opacity: 0.9;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 20px;
  line-height: 1;
}

.button a {
  color: white !important;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 10px 30px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active {
  top: 10px;
  background-color: #f78900 !important;
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button a:hover {
  color: #391611 !important;
}

.button:after {
  content: "";
  height: 100%;
  width: 103%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@keyframes heroButton {
  from {
    transform: scaleY(1.2) scaleX(1.2);
    opacity: 1;
  }
  to {
    transform: scaleY(1) scaleX(1);
    opacity: 1;
  }
}



.words {
  line-height: 1.5;
}

.words span {
  line-height: 1.5;
  font-weight: bolder;
  display: inline-block;
  opacity: 0;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-15%, 0);
    opacity: 0;
  }
  25% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.945);
    opacity: 0.75;
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.945);
    opacity: 1;
  }
  75% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.945);
    opacity: 0.75;
  }
  100% {
    transform: translate(15%, 0);
    opacity: 0;
  }
}

.words span:nth-child(2) {
  animation-delay: 0.2s;
}

.words span:nth-child(3) {
  animation-delay: 0.4s;
}

.particles-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5;
}