{% import '_macros.html' as macro %}
{% extends "inicio.html" %}
{% block title %}
    UTILIDADES
{% endblock %}
{% block content %}
<div>
    <div class=" text-center h1">
        <kbd>UTILIDADES</kbd>
    </div>
    
    {{ macro.select(form.receta, class="form-control text-uppercase") }}
    {{ macro.input_float(form.porcentaje, class="form-control text-uppercase") }}
    {{ macro.input_float(form.cantidad, class="form-control text-uppercase") }}
    {{ form.submit }}
    
</div>
{% endblock %}

{% block jscode %}
    <script>
        console.log("Hola mundo");
        
    </script>
{% endblock %}