{% import '_macros.html' as macro %} 

{% extends "inicio.html" %} 

{% block title %} UTILIDADES {% endblock %} 

{% block content %}
<div>
    <div class="text-center h1">
        <kbd>UTILIDADES</kbd>
    </div>
    <div class="row">
        <div class="col-6">
            <form id="ingredientesForm" action="{{ url_for('utilidad.obtener_ingredientes')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                {% set valor_seleccionado = receta_seleccionada if receta_seleccionada else '' %}

                {{ macro.select(form.receta, valor_seleccionado) }}                        
                {{ macro.submit_button(form.submit) }}

            </form>
            
        </div>
        <div class="col-6">
            <div class="row mb-3 mx-5">
                
            </div>
            <div class="row mb-3 mt-3 mx-5">
                <div class="row">
                    {% if titulo_receta %}
                        <h2>{{titulo_receta}}</h2>
                    {% endif %}
                    
                </div>
                <div class="card p-0">
                    <div class="card-header text-center">
                        <h3>Ingredientes</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Ingrediente</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ingrediente in ingredientes %}
                                <tr>
                                    <td>{{ ingrediente.nombre }}</td>
                                    <td>{{ ingrediente.cantidad }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block jscode %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('select[name="receta"]').addEventListener('change', function() {
        document.getElementById('ingredientesForm').submit();
    });
});
</script>
{% endblock %}