{% import '_macros.html' as macro %} 

{% extends "inicio.html" %} 

{% block title %} UTILIDADES {% endblock %} 

{% block content %}
<div>
    <div class="text-center h1">
        <h1>UTILIDADES</h1>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <form id="ingredientesForm" action="{{ url_for('utilidad.obtener_ingredientes')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                {% set valor_seleccionado = receta_seleccionada if receta_seleccionada else '' %}

                {{ macro.select(form.receta, valor_seleccionado) }}                        
                <!-- {{ macro.submit_button(form.submit) }} -->

            </form>
            
        </div>
        
    </div>
    <div class="col-12 text-center my-3">
        <h1>{{ titulo_receta }}</h1>
    </div>
    <div class="row mx-5 my-5">
        <div class="card p-0">
            <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead >
                    <tr>
                        <th scope="col">INSUMO</th>
                        <th scope="col">INVENTARIO</th>
                        <th scope="col">PRECIO X KILO</th>
                        <th scope="col">CANTIDAD NECESARIA</th>
                        <th scope="col">PRECIO TOTAL</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">

                    {% for ingrediente in ingredientes %}
                    <tr>
                        <td>{{ ingrediente.insumo }}</td>
                        <td>{{ ingrediente.cantidad_total }} KG</td>
                        <td>{{ ingrediente.promedio_precio }}</td>
                        <td>{{ ingrediente.cantidad }} KG</td>
                        <td>$ {{ ingrediente.costo_total }}</td>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        </div>
        
    </div>
    
    <form action="{{ url_for('utilidad.guardar')}}" method="POST" class="p-0">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
            <div class="row mx-5">
                <div class="col-6">
                    <!-- <div class="">
                        <label for="txtCosto" class="form-label">Costo de Producción</label>            
                        <input id="txtCosto" type="text" class="form-control" value="{{ costo_total_receta }}" disabled>
                    </div> -->
                    {{ macro.input_float(formUtilidad.costo_total) }}
                </div>
                <div class="col-6">
                    <!-- <div class="">
                        <label for="txtPrecio" class="form-label">Precio Final</label>            
                        <input id="txtPrecio" type="text" class="form-control">
                        
                    </div> -->
                    {{ macro.input_float(formUtilidad.costo_venta) }}
                    <div id="errorContainer"></div>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
        
        
</div>
{% endblock %} 

{% block jscode %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('select[name="receta"]').addEventListener('change', function() {
        document.getElementById('ingredientesForm').submit();
    });
    document.querySelector('input[name="costo_total"]').disabled = true;
    document.querySelector('input[name="costo_venta"]').addEventListener('keypress', function(event) {
        
        // Obtener el código de la tecla presionada
        let keyCode = event.keyCode || event.which;

        // Permitir solo números (0-9), el punto (.) y la tecla de retroceso (Backspace)
        if (!(keyCode >= 48 && keyCode <= 57) && // Números del 0 al 9
            !(keyCode >= 96 && keyCode <= 105) && // Números numéricos del teclado
            keyCode !== 190 && // Punto (.)
            keyCode !== 8) { // Tecla de retroceso (Backspace)
            // Cancelar el evento si la tecla no es un número o un punto
            event.preventDefault();
        }
    });
    
    
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Obtener los elementos del DOM
        const txtPrecio = document.getElementById('costo_venta');
        const txtCosto = document.getElementById('costo_total');
        const errorContainer = document.getElementById('errorContainer');

        // Función para validar el precio final
        function validarPrecioFinal() {

            const precioFinal = parseFloat(txtPrecio.value);
            const costoProduccion = parseFloat(txtCosto.value);

            // Verificar si el precio final es menor que el costo de producción
            if (precioFinal < costoProduccion) {
                // Agregar clase de error al campo de precio final
                txtPrecio.classList.add('is-invalid');

                // Mostrar mensaje de error
                errorContainer.innerHTML = '<div class="invalid-feedback" style="display: block">El precio final no puede ser menor que el costo de producción.</div>';
            } else {
                // Remover clase de error si el precio es válido
                txtPrecio.classList.remove('is-invalid');
                errorContainer.innerHTML = '';
            }
        }

        // Escuchar el evento 'input' en el campo de precio final para validar mientras el usuario escribe
        txtPrecio.addEventListener('input', validarPrecioFinal);
    });
</script>

{% endblock %}