<!-- LINKS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap5/css/bootstrap.min.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='libs/fontawesome/css/all.css')}}" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/cookie_1.png')}}" />

<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css')}}">
<!-- SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/menu.js')}}"></script>
<script src="{{ url_for('static', filename='libs/bootstrap5/js/bootstrap.bundle.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/jqueryui.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>